@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700;1,800&display=swap');

:root {
  --red: hsl(0, 100%, 67%);
  --purple: hsl(259, 100%, 65%);
  --White: hsl(0, 0%, 100%);
  --offWhite: hsl(0, 0%, 94%);
  --lightGray: hsl(0, 0%, 86%);
  --smokeyGrey: hsl(0, 1%, 44%);
  --offBlack: hsl(0, 0%, 8%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400i, 700, 800i */
body{
  font-family: 'Poppins',sans-serif;
  font-weight: 700;
  background-color: var(--offWhite);
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.content{
  width: 500px;
  height: 450px;
  background-color: var(--White);
  border-radius: 20px;
  border-bottom-right-radius: 170px;
  padding: 40px;
}
.inputs{
  display: flex;
  flex-direction: row;
  width: 420px;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.input{
  display: flex;
  flex-direction: column;
}
.input label{
  letter-spacing: 0.2rem;
  font-size: 12px;
  margin-bottom: 5px;
  color: var(--smokeyGrey);
}
.input input{
  width: 100px;
  padding: 10px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid var(--lightGray);
  color: var(--offBlack);
}
.input input:focus {
  border: 1px solid var(--purple);
  outline: none;
}
.error{
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  color: var(--red);
  text-transform: none;
  margin-top: 10px;
}
.btn{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.line{
  width: 100%;
  border-bottom: 1px solid var(--lightGray);
}
button{
  padding: 14px;
  border: none;
  border-radius: 50%;
  background-color: var(--purple);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
button:hover{
  background-color: var(--offBlack);
}
.result{
  font-size: 56px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: -20px;
  color: var(--offBlack);
}
.result span{
  color: var(--purple);
}
@media screen and (max-width: 600px) {
  .content{
    width: 400px;
    padding: 32px;
  }
  .inputs{
    width: 340px;
  }
  .btn img{
    width: 24px;
  }
  .line-sec{
    width: 100%;
    border: 1px solid var(--lightGray);
  }
  .result{
    font-size: 48px;
  }
}